VITE_WALLETCONNECT_PROJECT_ID=demo
VITE_BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
VITE_BASE_MAINNET_RPC_URL=https://mainnet.base.org
VITE_BASE_SEPOLIA_GAME_ADDRESS=0x6cBA1d9071c6900fE55a0aBf93dAaD363Da8919A
VITE_BASE_SEPOLIA_TOKEN_ADDRESS=0x8eb2C48C23fdaF506Eb6CB0397A3861AdA57a9dA
VITE_BASE_MAINNET_GAME_ADDRESS=
VITE_BASE_MAINNET_TOKEN_ADDRESS=0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913
VITE_MIGRATION_URL=
